.drawAnno__button {
    text-decoration: none;
    width: 80%;
    padding: 1rem 0;
    background-color: #11365F;
    color: white;
    font-size: 16px;
    margin: 1rem 10vw;
    max-width: 256;
    text-align: center;
    border-radius: 5px;
    max-width: 256px;
}