.header{
    background-color: black;
    display: flex;
    position: absolute;
    top: 0;
    &__component{
        color: white;
        width:calc(100vw / 3);
    }
    &__logo{
        font-size: 2rem;
        display: inline-block;
        // background-image: url(../../assets/images/logo-placeholder.png);
        // background-size: cover;
        height: 3rem;
    }
}
rect{
    fill: white;
}